<h1 class="text-center">PULSACIONES!</h1>
<p>La frecuencia cardiaca es el número de veces que el corazón se contrae en una determinada cantidad de tiempo. Este valor se expresa en pulsaciones por minuto y se puede medir en las arterias periféricas. Para medir las pulsaciones, se puede tomar el pulso en las muñecas o el cuello, 
  aunque también existen dispositivos cada vez más innovadores para controlarla.</p>

<div class="center">
  <img src="https://i.pinimg.com/236x/21/b7/82/21b78225953c1f1f817da2d8c92f9aa9--drawing-tutorials-tattoo.jpg" alt="pulsaciones" style="width:999px;height:320px;">
</div>
<ul>
  <h1>Pulsaciones Normales en Reposo:</h1>
  <li>Recién nacidos de 0 a 1 mes de edad: 70 a 190 latidos por minuto.</li>
  <li>Niños de 5 a 6 años de edad: 75 a 115 latidos por minuto.</li>
  <li>Niños de 10 años o más y personas adultas: 60 a 100 latidos por minuto.</li>
  <li>Atletas bien entrenados: de 40 a 60 latidos por minuto.</li>
</ul>
<p>Para mas informacion consulte consu medico.</p>
<p class="font-weight-bold">En la barra del menu puede encontrar para hacer su registro.</p>
